<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>sign_in</title>
    <link rel="stylesheet" href="sign_in.css">
</head>
<body>
    <div className="Login">
        <div className="lefthalf">
          <div className="designpartsignin" />
          <div className="logosi">
            <img className="logoco" src="logo_white-removebg-preview.png" />
            <h2>New here?</h2>
            <p>To connect with your like minded buddies login with your personal info!</p>
            <p>SIGN UP</p>
          </div>
          <div className="illustrationsi">
            <img src="Mobile login-rafiki.png" />
          </div>
        </div>
        <div className="signin">
          <h2>Sign In</h2>
          <div className="username"><img src="user.png" />
            <input type="text" placeholder="Username" /></div>
          <div className="password"> 
            <img src="padlock.png" />
            <input type="text" placeholder="Password" /></div>
          <p>LOGIN</p>
          <p>Or sign in with social platforms</p>
          <div className="socialicons">
            <span className="iconso"><img src="google.png" /></span>
            <span className="iconso"><img src="facebook-app-symbol.png" /></span>
            <span className="iconso"><img src="twitter.png" /></span> 
            <span className="iconso"><img src="linkedin.png" /></span>
          </div>
        </div>
      </div>
      
</body>
</html>